In [2]:
from collections import Counter
import pandas as pd

In [3]:
df = pd.read_csv('bases/201901_RemuneracaoMilitares.csv', encoding ='latin1', 
                 engine='python', quotechar='"', delimiter=";", decimal=',')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.sum(axis = 0, skipna = True)

In [ ]:
df.count()

In [ ]:
df['REMUNERAÇÃO BÁSICA BRUTA (R$)'].sum()

In [ ]:
# Média de Salário
df['REMUNERAÇÃO BÁSICA BRUTA (R$)'].mean().round(2)

In [5]:
df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)'].sum().round(2)

1602271796.36

In [ ]:
df['REMUNERAÇÃO BÁSICA BRUTA (R$)'].max()

In [8]:
df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)'].max()

133836.2

In [18]:
df[df['REMUNERAÇÃO APÓS DEDUÇÕES OBRIGATÓRIAS (R$)'] == 133836.2].loc[:, 'NOME':'PENSÃO MILITAR (R$)']

,NOME,REMUNERAÇÃO BÁSICA BRUTA (R$),REMUNERAÇÃO BÁSICA BRUTA (U$),ABATE-TETO (R$),ABATE-TETO (U$),GRATIFICAÇÃO NATALINA (R$),GRATIFICAÇÃO NATALINA (U$),ABATE-TETO DA GRATIFICAÇÃO NATALINA (R$),ABATE-TETO DA GRATIFICAÇÃO NATALINA (U$),FÉRIAS (R$),FÉRIAS (U$),OUTRAS REMUNERAÇÕES EVENTUAIS (R$),OUTRAS REMUNERAÇÕES EVENTUAIS (U$),IRRF (R$),IRRF (U$),PSS/RPGS (R$),PSS/RPGS (U$),DEMAIS DEDUÇÕES (R$),DEMAIS DEDUÇÕES (U$),PENSÃO MILITAR (R$)
67569,DANIELA NASSER E SILVA DE CAMPOS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140955.71,0.0,0.0,0.0,0.0,0.0,7119.51,0.0,0.0

In [ ]:
df['REMUNERAÇÃO BÁSICA BRUTA (R$)'].min(level=10)